.popupOverly {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

.popupBox {
	background-color: var(--bg-default);
	width: 50%;
	padding: 3rem 1rem;
	border: none;
	border-radius: 1rem;
}

.titleText {
	display: inline-block;
	font-size: 2rem;
	margin: 0 1rem;
	border: none;
}

.descriptionText {
	display: inline-block;
	margin: 0 1rem;
	border: none;
}

.dateText {
	display: inline-block;
	margin: 0 1rem;
	border: none;
}

.buttonDiv {
	margin: 0 1rem;
	border: none;
}
