.popupOverly {
	position: fixed;
	top: 0;
	left: 19rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 87vw;
}

.popupBox {
	background-color: var(--bg-default);
	width: 20vw;
	padding: 3rem 1rem;
	border: 1px solid var(--ui-light);
	border-radius: 1rem;
}

.titleText,
.descriptionText,
.projectTitle,
.dateText {
	display: inline-block;
	margin: 0 1rem;
	border: none;
	color: var(--ui-light);
}

.titleInput,
.descriptionInput,
.projectInput,
.dateInput {
	border: 1px solid var(--ui-light);
	width: 87%;
	padding: 0.5rem;
	margin: 1rem;
	border-radius: 0.3rem;
	background-color: var(--bg-light);
	color: var(--ui-light);
}

.descriptionInput {
	min-height: 1rem;
	resize: vertical;
}

.buttonDiv {
	margin: 0 1rem;
	border: none;
	text-align: center;
}

.submitBtn,
.closeBtn {
	border: none;
	padding: 1rem;
	margin: 1.4rem 1rem 0 1rem;
	border-radius: 0.3rem;
}

.submitBtn {
	background-color: var(--accent-color-3);
}

.closeBtn {
	background-color: var(--accent-color-2);
}

.priorityBtn {
	background-color: var(--bg-light);
	color: var(--ui-light);
	padding: 1rem;
	font-size: 0.9rem;
	border: none;
	border-radius: 0.3rem;
	cursor: pointer;
	margin: 1rem;
}

.priorityBtn:hover,
.priorityBtn:focus {
	background-color: #2980b9;
}

.priorityDiv {
	position: relative;
	display: inline-block;
	margin-left: 8rem;
}

.priorityContent {
	display: none;
	position: absolute;
	background-color: #1f1f1f;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.priorityContent a {
	color: #ddd;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.priorityContent a:hover {
	border: 1px solid red;
}

.show {
	display: block;
}
